:root {
    --primary-text-color: #1b1b1b;
    --secondary-text-color: #ffffff;
    --research-card-bg-color: #f5f5f5f5;
    --research-card-alt-bg-color: #E0EAFF;
    --text-field-color: #757575;
    --quote-text-color: #58A689;
    --footer-bg-color: #1b1b1b;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: #fff;
    color: var(--primary-text-color)
}

input, textarea {
    border: none;
    background: var(--footer-bg-color);
    padding: 10px;
    align-self: stretch;
}

input::placeholder,textarea {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-family: Lora;
}

.visually-hidden {
    display: none;
}

.container {
    max-width: 1900px;
    width: 90%;
    margin: 2.25em auto;
}

footer {
    display: flex;
    flex-direction: column;
    background: var(--footer-bg-color);
    color: var(--secondary-text-color);
}

.footer-main-frame {
    display: flex;
}


h1,h2, h3{
    margin: 0;
    text-wrap: nowrap;
    inline-size: min-content;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

.footer-logo a{
    color: var(--secondary-text-color);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav-items {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.pri-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-study a {
    font-size: 1.75em;
    font-weight: 500;
    writing-mode: sideways-lr;
    width: min-content;
}

.hero-picture {
    display: flex;
    gap: 1.125em;
}

.role-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.role-heading {
    font-size: 5em;
}

.name-heading {
    font-size: 6em;
}

.pri-case-study {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    gap: 4em
}

.video {
    display: flex;
    justify-content: center;
    background: linear-gradient(359deg, rgba(191, 217, 203, 0.97) 14.29%, #58A689 96.24%);
    padding: 5em;
    gap: 3em;
}

.project-one-video {
    display: flex;
    align-items: center;
    width: 511px;
    height: 333px;
    aspect-ratio: 511/333;
}

.project-one-brief {
    display: flex;
    justify-content:space-between;
}

.project-one-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.project-one-industry-research {
    display: flex;
}

.project-one-user-research {
    display: flex;
    gap: 5rem;
}

.user-research-sec-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-research-lg-card {
    display: flex;
    width: 533px;
    height: 750px;
    padding: 33px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: var(--research-card-bg-color);
    box-shadow: 0 4px 0 0 var(--quote-text-color);
}

.user-research-sm-card {
    display: flex;
    width: 533px;
    height: 344px;
    padding: 33px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 8px;
    background: var(--Color-9, #D9D9D9);
    box-shadow: 0 4px 0 0 var(--Color-12, #58A689);
}

.info-box {
    display: flex;
    flex-direction: column;
}

.project-one-overview {
    display: flex;
    flex-direction: column;
}

.project-one-quote {
    display: flex;
    flex-direction: column;
}

.founder-quote {
    color: var(--quote-text-color)
}


.project-one-md {
    display: flex;
    flex-direction: column;
}

.project-one-h1 {
    color: #58A689;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lora;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1em;
}

.project-one-h2 {
    color: #58A689;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lora;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1em;
}

.sec-case-study {
    display: flex;
}

img {
    max-width: 100%;
    height: 75%;
}

li {
    list-style-type: none;
}

.contact-frame {
    display: flex;
    width: 528px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 1px;
}